.country {
    background-color: var(--nav-bg);
    border-radius: 5px;
    transition: all .3s ease;

    a {
        text-decoration: none;
    }

    &__img {
        max-width: 290px;
        max-height: 160px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            object-fit: cover;
        }
    }

    &__details {
        padding: 1rem;
        padding-top: 0;



        h3 {
            color: var(--text-primary);
            margin: 10px 0px;
            max-width: 215px;
        }

        ul {
            list-style: none;
            font-size: 14px;
        }

        li {
            margin-bottom: 5px;
        }

        strong {
            text-transform: capitalize;
            color: var(--text-primary);
        }

        span {
            color: var(--text-secondary);
        }
    }

    &:hover {
        box-shadow: 0 0 10px 1px var(--shadows);
    }
}