.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;

    &__icon {
        font-size: 4rem;
        animation: earthRotation 2s linear infinite;
    }

    &__text {
        font-size: 2rem;
        font-weight: 800;
    }

}

@keyframes earthRotation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}