@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import "./App.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: hsl(0, 0%, 98%);
  --text-primary: hsl(200, 15%, 8%);
  --text-secondary: hsl(0, 0%, 52%);
  --nav-bg: #fff;
  --hover-btn: hsl(0, 0%, 98%);

}

[data-theme='dark'] {
  --background: hsl(207, 26%, 17%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 98%);
  --nav-bg: hsl(209, 23%, 22%);
  --hover-btn: hsl(200, 15%, 8%);
}

.app {
  background-color: var(--background);
}

.container {
  padding: 0.5rem 3rem;
}